@import 'var';

.about {
    padding-top: 50px;
    padding-bottom: 50px;

    &__wrap {
        flex-direction: column;
    }

    &__title {
        color: $mainClr;
    }

    &__img {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background: rgba(196, 196, 196, 0.3);
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__txt {
        align-self: center;
        text-align: center;
    }
}

.partner {
    padding-top: 50px;
    padding-bottom: 50px;

    &__wrap {
        flex-direction: column;
    }

    &__title {
        span {
            color: $mainClr;
        }
    }

    &__block {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        margin: 50px 0;
        max-width: 340px;
    }
}

.bg-polygon-6 {
    top: 30%;
}

.bg-polygon-7 {
    right: 0;
    top: 80%;
}