@import 'var';

.host {
    padding-top: 100px;

    &__wrap {
        flex-direction: column;
    }

    &__title {
        color: $mainClr;
    }

    &__info {
        display: flex;
        padding-top: 55px;
        padding-bottom: 80px;
        // justify-content: center;
    }

    &__txt {
        width: 60%;
    }

    &__block {
        padding-bottom: 40px;
        width: 95%;

        h5 {
            display: flex;
            align-items: center;
            font-size: 28px;
            font-weight: 400;

            span {
                color: $mainClr;
                margin-right: 20px;
                font-size: 40px;
            }
        }

        p {
            margin-top: 30px;
            margin-left: 105px;
            font-weight: 300;
            color: $mainClr;
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 349px;
        background-color: rgba(196, 196, 196, 0.3);

        img {
            width: 30%;
        }
    }
}

.big-form {
    padding: 100px 0 50px 0;

    &__wrap {
        flex-direction: column;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin-top: 20px;
            color: $mainClr;
            font-size: 40px;
            font-weight: 400;
            max-width: 620px;
        }
    }

    span {
        color: $mainClr;
    }

    p {
        align-self: center;
        max-width: 370px;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.065em;
        line-height: 174.19%;
        color: #F9F9F9;

        a {
            color: $mainClr;
            text-decoration: underline;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 20px;

        h6 {
            font-size: 28px;
            font-weight: 300;
            margin-bottom: 45px;

            span {
                font-size: 30px;
            }
        }

        p {
            font-size: 28px;
            font-weight: 400;
            text-align: unset;
            align-self: unset;
        }

        label {
            display: flex;
            flex-direction: column;
        }

        .big-form__name {
            display: flex;
            justify-content: space-between;
        }

        input {
            margin-top: 20px;
            margin-bottom: 60px;
            padding-left: 20px;
            width: 520px;
            height: 90px;
            background-color: rgba(255, 227, 116, 0.4);
            color: $txtClr;

            &::placeholder {
                color: $mainClr;
                opacity: 0.63;
            }
        }

        .big-form__button {
            align-self: center;
            width: 296px;
            height: 90px;
            border-width: 1px;
            margin: 0;

            input.button__wrap {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                background: none;
                color: $mainClr;
                cursor: pointer;
            }

            &:hover {
                .button__wrap {
                    width: 90%;
                    height: 140%;
                    border-width: 1px;
                }
            }
        }
    }
}

.bg-polygon-4 {
    right: 0;
    top: 60%;
}

.bg-polygon-5 {
    top: 300%;
}