@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import 'var';

html,
body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 28px;
    font-family: $fontFam;
    background-color: #202124;
    color: $txtClr;
}

a {
    text-decoration: none;
    color: $txtClr;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

input {
    padding-left: 10px;
    border: none;
    font-family: $fontFam;
    font-size: 28px;

    &:focus {
        outline: none;
    }
}

button {
    border: none;
}

.title,
.title h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.hoisting {
    display: none;
    position: fixed;
    text-align: center;
    right: 5%;
    bottom: 5%;
    width: 50px;
    height: 70px;
    color: $mainClr;
    font-size: 22px;
    font-weight: 300;
    overflow: hidden;
    z-index: 20;

    svg {
        transition: 0.4s;
    }

    &:hover {
        animation-name: arrow-hoisting;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        svg {
            fill: white;
        }
    }
}

@keyframes arrow-hoisting {
    60% {
        height: 80px;
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 377px;
    height: 81px;
    border: 2px solid $mainClr;
    cursor: pointer;

    .button__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: 0.4s;
        border: 1px solid $mainClr;
    }

    &:hover {
        .button__wrap {
            width: 337px;
            height: 121px;
            border-width: 2px;
        }
    }

    a {
        color: $mainClr;
        font-size: 30px;
    }
}

.bg-polygon {
    position: absolute;
}

.advant {
    padding: 50px 0;

    &__field {
        display: flex;
        margin: 30px 0;
        align-items: center;
        max-width: 95%;

        .advant__svg {
            width: 70px;
            height: 70px;
            margin-right: 40px;

            svg {
                height: 100%;
                width: auto;
            }
        }
    }

    &__button {
        margin-top: 30px;
        max-width: 400px;
        a {
            display: flex;
            align-items: center;
            color: $mainClr;
            transition: 0.4s;

            &:hover {
                color: $txtClr;

                svg {
                    animation-name: advant-arrow;
                    animation-duration: 1.4s;
                    animation-iteration-count: infinite;
                }
            }

            svg {
                margin-right: 20px;
            }
        }
    }

    &__blocks {
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    &__wrap {
        flex-direction: column;
    }

    &__col {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}

@keyframes advant-arrow {
    60% {
        fill: $txtClr;
        width: 70px;
    }
}

.advantage {
    padding-top: 45px;
    padding-bottom: 75px;
    background-color: rgba(255, 228, 116, 0.5);
    font-weight: 300;

    .advant__blocks {
        padding-top: 10px;
    }

    .advant__svg {
        width: 90px;
        height: 90px;
    }

    .advant__col {
        width: 47%;
    }

    .advant__button {
        display: flex;
        margin: 0;
        align-self: center;
        max-width: 100%;
        align-items: center;
        margin-top: 30px;

        p {
            margin-right: 12px;
        }

        .button {
            width: 480px;
            margin-top: 0;
            border-width: 1px;

            &:hover {
                a {
                    color: $txtClr;
                }

                .button__wrap {
                    width: 450px;
                    height: 120px;
                }
            }

            &__wrap {
                border-width: 1px;

                a {
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
        }
    }
}