@import 'var';

.brands {
    padding-top: 80px;
    font-weight: 300;
}

.catalog {
    padding-top: 70px;

    &__wrap {
        height: 100%;
    }

    &__filter {
        height: 100%;
        width: 340px;

        .filter__wrap {
            position: sticky;
            top: 130px;
            width: 100%;
            background: rgba(227, 205, 106, 0.2);
            z-index: 5;
        }

        .filter__item {
            border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
            padding: 0 15px;

            .filter-item {
                &__title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 60px;
                cursor: pointer;

                    h5 {
                        font-size: 22px;
                        font-weight: 400;
                    }

                    img {
                        transition: 0.4s;
                    }
                }

                &__val {
                    display: none;
                    flex-direction: column;
                    transition: 0.4s;
                    padding: 15px 0 30px 0;

                    label {
                        display: flex;
                        margin: 7.5px 0;
                        font-size: 20px;
                        cursor: pointer;

                        input {
                            margin-right: 20px;

                            &[type='checkbox'] {
                                display: none;
                            }
                        }

                        div {
                            width: 20px;
                            height: 20px;
                            margin-right: 20px;
                            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.809018 29.5L15 1.11803L29.191 29.5H0.809018Z' fill='none' stroke='%23FFE474'/%3E%3C/svg%3E%0A");
                        }

                        input:checked+div {
                            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.809018 29.5L15 1.11803L29.191 29.5H0.809018Z' fill='%23FFE474' stroke='%23FFE474'/%3E%3C/svg%3E%0A");
                        }
                    }
                }
            }

            &--active {
                .filter-item {
                    &__title {
                        img {
                            transform: rotate(180deg);
                        }
                    }

                    &__val {
                        display: flex;
                    }
                }
            }
        }

        .filter__price {
            .filter__input {
                display: flex;
                justify-content: space-between;
                label {
                    input {
                        width: 80px;
                        height: 30px;
                        background: $background;
                        color: $txtClr;
                        font-size: 14px;
                        font-weight: 300;
                        margin-left: 10px;
                    }
                }

                &--range {
                    display: flex;
                    justify-content: center;
                }

                .noUi-horizontal {
                    border: none;
                    height: 1px;
                    margin-top: 35px;
                    margin-bottom: 15px;
                    width: 90%;
                }

                .noUi-horizontal .noUi-handle {
                    height: 18px;
                    top: -10px;
                }

                .noUi-connect {
                    background: $mainClr;
                }

                .noUi-handle {
                    border-radius: 0;
                    border: none;
                    box-shadow: none;
                    background: none;
                    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.809018 29.5L15 1.11803L29.191 29.5H0.809018Z' fill='%23FFE474' stroke='%23FFE474'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                }

                .noUi-handle:after, .noUi-handle:before {
                    display: none;
                }

                .noUi-touch-area:focus,
                .noUi-horizontal .noUi-handle:focus {
                    outline: none;
                }
            }

            .filter__min-max {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;

                small {
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }

        .filter__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;

            button,
            input {
                background: none;
                cursor: pointer;
            }

            .filter__apply {
                margin: 40px 0;
                width: 215px;
                height: 65px;
                border: 1px solid $mainClr;
                color: $mainClr;
                transition: 0.4s;

                &:hover {
                    background: $mainClr;
                    color: black;
                }
            }

            .filter__clear {
                display: flex;
                align-items: center;
                margin-bottom: 35px;

                input {
                    color: $txtClr;
                    font-size: 22px;
                    font-weight: 300;
                }

                img {
                    margin-right: 25px;
                }
            }
        }
    }

    &__goods {
        max-width: 74%;

        .goods__wrap {
            padding: 0 70px 50px 150px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .goods__item {
                display: flex;
                flex-direction: column;
                max-width: 310px;
                cursor: pointer;
                margin-bottom: 50px;
                line-height: 34px;

                img {
                    width: 100%;
                    max-height: 300px;
                }

                h5 {
                    margin-top: 40px;
                    font-size: 28px;
                    font-weight: 500;
                }

                p {
                    font-weight: 300;
                    margin-bottom: 20px;
                }

                b {
                    color: $mainClr;
                }

                .good__price {
                    color: $mainClr;
                    font-weight: 500;
                }

                .good__stock {
                    display: none;
                    font-weight: 500;
                }

                &:hover {
                    .good__price {
                        display: none;
                    }

                    .good__stock {
                        display: unset;
                    }
                }
            }
        }
    }

    &__pagination {
        padding-left: 150px;
        display: flex;
        align-items: center;

        .pagination__left,
        .pagination__right {
            width: 52px;
            height: 30px;
            background-repeat: no-repeat;
            cursor: pointer;

            &:hover {
                animation-name: catalog-arrow;
                animation-duration: 1.4s;
                animation-iteration-count: infinite;
            }
        }

        .pagination__left {
            background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 3.64645C0.451183 3.84171 0.451183 4.1583 0.646446 4.35356L3.82843 7.53554C4.02369 7.7308 4.34027 7.7308 4.53553 7.53554C4.7308 7.34028 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17158C4.7308 0.976315 4.7308 0.659733 4.53553 0.46447C4.34027 0.269208 4.02369 0.269208 3.82843 0.46447L0.646446 3.64645ZM53 3.5L1 3.5L1 4.5L53 4.5L53 3.5Z' fill='%23FFE474'/%3E%3C/svg%3E");
            background-position: 5px;

            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 3.64645C0.451183 3.84171 0.451183 4.1583 0.646446 4.35356L3.82843 7.53554C4.02369 7.7308 4.34027 7.7308 4.53553 7.53554C4.7308 7.34028 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17158C4.7308 0.976315 4.7308 0.659733 4.53553 0.46447C4.34027 0.269208 4.02369 0.269208 3.82843 0.46447L0.646446 3.64645ZM53 3.5L1 3.5L1 4.5L53 4.5L53 3.5Z' fill='white'/%3E%3C/svg%3E");
            }
        }

        .pagination__right {
            background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.3536 4.35355C52.5488 4.15829 52.5488 3.84171 52.3536 3.64645L49.1716 0.464466C48.9763 0.269204 48.6597 0.269204 48.4645 0.464466C48.2692 0.659728 48.2692 0.976311 48.4645 1.17157L51.2929 4L48.4645 6.82843C48.2692 7.02369 48.2692 7.34027 48.4645 7.53553C48.6597 7.7308 48.9763 7.7308 49.1716 7.53553L52.3536 4.35355ZM0 4.5L52 4.5V3.5L0 3.5L0 4.5Z' fill='%23FFE474'/%3E%3C/svg%3E");
            background-position: -5px;

            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.3536 4.35355C52.5488 4.15829 52.5488 3.84171 52.3536 3.64645L49.1716 0.464466C48.9763 0.269204 48.6597 0.269204 48.4645 0.464466C48.2692 0.659728 48.2692 0.976311 48.4645 1.17157L51.2929 4L48.4645 6.82843C48.2692 7.02369 48.2692 7.34027 48.4645 7.53553C48.6597 7.7308 48.9763 7.7308 49.1716 7.53553L52.3536 4.35355ZM0 4.5L52 4.5V3.5L0 3.5L0 4.5Z' fill='white'/%3E%3C/svg%3E");
            }
        }

        .pagination__num {
            padding: 0 10px;
            display: flex;
            justify-content: space-between;

            span {
                color: $mainClr;
                opacity: 0.3;
                font-size: 28px;
                font-weight: 500;
                letter-spacing: 0.065em;
                margin: 0 20px;
                cursor: pointer;
            }

            .pagination__active {
                opacity: 1;
            }
        }
    }
}

@keyframes catalog-arrow {
    60% {
        background-position: 0px;
    }
}

.bg-polygon-10 {
    top: 20%;
}

.bg-polygon-11 {
    right: 0;
    top: 80%;
}