@import 'var';

.brands {
    padding-top: 80px;
    font-weight: 300;
}

.catalog {
    padding-top: 70px;

    @media (max-width: 770px) {
        padding: 0;
    }

    &__wrap {
        width: 1306px;

        @media (max-width: 1500px) {
            width: 96%;

            @media (max-width: 770px) {
                flex-direction: column;
                width: unset;
            }
        }
    }

    .filter__burger {
        position: sticky;
        top: 120px;
        width: 100%;
        background: rgba(227, 205, 106, 0.42);
        display: none;
        align-items: center;
        justify-content: flex-end;
        min-height: 26px;
        padding: 0 40px;
        z-index: 6;

        @media (max-width: 770px) {
            top: 70px;
            display: flex;
        }

        svg {
            cursor: pointer;

            circle {
                transition: 0.4s;
            }
        }

        .catalog__back {
            display: none;
            align-items: center;
            font-weight: 300;
            font-size: 16px;
            cursor: pointer;

            svg {
                margin-right: 10px;
            }
        }
    }

    &__filter {
        width: 340px;

        @media (max-width: 1024px) {
            width: 290px;

            @media (max-width: 770px) {
                display: flex;
                flex-direction: column;
                width: 100%;
                position: sticky;
                background: rgba(227, 205, 106, 0.42);
                top: 96px;
                height: unset;
                transition: 0.4s;
            }
        }

        .filter__wrap {
            position: sticky;
            top: 130px;
            width: 100%;
            background: rgba(227, 205, 106, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.3);
            z-index: 5;

            @media (max-width: 770px) {
                display: none;
                margin-top: -2000px;
                position: unset;
                width: 100%;
                background: rgba(104, 95, 54, 0.8);
                // background: none;
                border: none;
                animation-duration: 0.4s;
                animation-iteration-count: infinite;
            }
        }

        .filter__item {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            padding: 0 15px;

            .filter-item {
                &__title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 0;
                height: unset;
                cursor: pointer;

                @media (max-width: 770px) {
                    padding: 15px 25px;

                    @media (max-width: 414px) {
                        padding: 10px 25px;
                    }
                }

                    h5 {
                        font-size: 22px;
                        font-weight: 300;
                        max-width: 220px;

                        @media (max-width: 1024px) {
                            font-size: 18px;

                            @media (max-width: 414px) {
                                font-size: 16px;
                            }
                        }
                    }

                    img {
                        transition: 0.4s;
                    }
                }

                &__val {
                    display: none;
                    flex-direction: column;
                    transition: 0.4s;
                    padding: 15px 0 30px 0;

                    @media (max-width: 770px) {
                        padding: 10px 25px 20px 25px;
                    }

                    label {
                        display: flex;
                        align-items: center;
                        margin: 7.5px 0;
                        font-size: 20px;
                        font-weight: 300;
                        cursor: pointer;

                        @media (max-width: 1024px) {
                            font-size: 16px;
                        }

                        input {
                            margin-right: 20px;

                            &[type='checkbox'] {
                                display: none;
                            }
                        }

                        div {
                            width: 20px;
                            height: 20px;
                            margin-right: 20px;
                            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.809018 29.5L15 1.11803L29.191 29.5H0.809018Z' fill='none' stroke='%23FFE474'/%3E%3C/svg%3E%0A");
                        }

                        input:checked+div {
                            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.809018 29.5L15 1.11803L29.191 29.5H0.809018Z' fill='%23FFE474' stroke='%23FFE474'/%3E%3C/svg%3E%0A");
                        }
                    }
                }
            }

            &--active {
                .filter-item {
                    &__title {
                        img {
                            transform: rotate(180deg);
                        }
                    }

                    &__val {
                        display: flex;
                    }
                }
            }
        }

        .filter__price {
            .filter__input {
                display: flex;
                justify-content: space-between;
                label {
                    input {
                        width: 80px;
                        height: 30px;
                        background: $background;
                        color: $txtClr;
                        font-size: 14px;
                        font-weight: 300;
                        margin-left: 10px;
                    }
                }

                &--range {
                    display: flex;
                    justify-content: center;
                }

                .noUi-horizontal {
                    border: none;
                    height: 1px;
                    margin-top: 35px;
                    margin-bottom: 15px;
                    width: 90%;
                }

                .noUi-horizontal .noUi-handle {
                    height: 18px;
                    top: -10px;
                }

                .noUi-connect {
                    background: $mainClr;
                }

                .noUi-handle {
                    border-radius: 0;
                    border: none;
                    box-shadow: none;
                    background: none;
                    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.809018 29.5L15 1.11803L29.191 29.5H0.809018Z' fill='%23FFE474' stroke='%23FFE474'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                }

                .noUi-handle:after, .noUi-handle:before {
                    display: none;
                }

                .noUi-touch-area:focus,
                .noUi-horizontal .noUi-handle:focus {
                    outline: none;
                }
            }

            .filter__min-max {
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;

                small {
                    font-size: 14px;
                    font-weight: 300;

                    @media (max-width: 1024px) {
                        font-size: 10px;
                    }
                }
            }
        }

        .filter__buttons {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 770px) {
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            button,
            input {
                background: none;
                cursor: pointer;
            }

            .filter__apply {
                margin: 40px 0;
                width: 215px;
                height: 65px;
                border: 1px solid $mainClr;
                color: $mainClr;
                transition: 0.4s;
                font-size: 25px;

                @media (max-width: 1024px) {
                    font-size: 20px;
                    width: 180px;
                    height: 50px;

                    @media (max-width: 414px) {
                        font-size: 16px;
                        width: 150px;
                        height: 50px;
                        margin: 20px 0;
                    }
                }

                &:hover {
                    background: $mainClr;
                    color: black;
                }
            }

            .filter__clear {
                display: flex;
                align-items: center;
                margin-bottom: 35px;

                @media (max-width: 770px) {
                    margin-bottom: 0;
                    margin-left: 40px;
                }

                &:hover {
                    img {
                        transform: rotate(180deg);
                    }
                }

                input {
                    color: $txtClr;
                    font-size: 22px;
                    font-weight: 300;

                    @media (max-width: 1024px) {
                        font-size: 20px;

                        @media (max-width: 414px) {
                            font-size: 16px;
                        }
                    }
                }

                img {
                    transition: 1s;
                    margin-right: 10px;

                    @media (max-width: 414px) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    &__goods {
        width: 74%;
        max-width: 960px;

        @media (max-width: 770px) {
            max-width: unset;
            padding: 0 40px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 45px;

            @media (max-width: 414px) {
                max-width: 305px;
                margin: 45px auto 0 auto;
                padding: 0;
            }
        }

        .goods__wrap {
            padding: 0 0 50px 150px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            @media (max-width: 1500px) {
                padding-left: 100px;

                @media (max-width: 1024px) {
                    padding-left: 60px;
                    padding-bottom: 10px;

                    @media (max-width: 770px) {
                        padding: 0;
                    }
                }
            }

            .goods__item {
                display: flex;
                flex-direction: column;
                max-width: 310px;
                cursor: pointer;
                line-height: 34px;
                margin-bottom: 50px;

                @media (max-width: 1200px) {
                    max-width: 260px;
                    padding: 0 15px;
                    width: 42%;

                    @media (max-width: 770px) {
                        max-width: 200px;
                        width: 140%;

                        @media (max-width: 568px) {
                            max-width: 200px;
                            width: 50%;
                        }
                    }
                }

                img {
                    width: 100%;
                    max-height: 300px;
                }

                h5 {
                    margin-top: 40px;
                    font-size: 28px;
                    font-weight: 500;

                    @media (max-width: 1024px) {
                        font-size: 25px;
                        margin-top: 20px;

                        @media (max-width: 770px) {
                            font-size: 16px;
                            margin-top: 10px;
                        }
                    }
                }

                p {
                    font-weight: 300;
                    margin-bottom: 20px;

                    @media (max-width: 1024px) {
                        font-size: 16px;
                        margin-bottom: 15px;
                        line-height: 20px;

                        @media (max-width: 770px) {
                            font-size: 15px;
                            margin-bottom: 0;
                        }
                    }
                }

                b {
                    color: $mainClr;
                }

                .good__price {
                    color: $mainClr;
                    font-weight: 500;

                    @media (max-width: 1024px) {
                        font-size: 25px;
                        margin-bottom: 15px;

                        @media (max-width: 770px) {
                            font-size: 16px;
                            margin-bottom: 0;
                        }
                    }
                }

                .good__stock {
                    display: none;
                    font-weight: 500;
                    font-size: 22px;

                    @media (max-width: 1024px) {
                        display: unset;

                        @media (max-width: 770px) {
                            font-size: 15px;
                        }
                    }
                }

                &:hover {
                    .good__price {
                        @media (min-width: 1025px) {
                            display: none;
                        }
                    }

                    .good__stock {
                        display: unset;
                    }
                }
            }
        }
    }

    &__pagination {
        padding-left: 150px;
        display: flex;
        align-items: center;

        @media (max-width: 770px) {
            padding: 0;
        }

        .pagination__left,
        .pagination__right {
            width: 52px;
            height: 30px;
            background-repeat: no-repeat;
            cursor: pointer;

            &:hover {
                animation-name: catalog-arrow;
                animation-duration: 1.4s;
                animation-iteration-count: infinite;
            }
        }

        .pagination__left {
            background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 3.64645C0.451183 3.84171 0.451183 4.1583 0.646446 4.35356L3.82843 7.53554C4.02369 7.7308 4.34027 7.7308 4.53553 7.53554C4.7308 7.34028 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17158C4.7308 0.976315 4.7308 0.659733 4.53553 0.46447C4.34027 0.269208 4.02369 0.269208 3.82843 0.46447L0.646446 3.64645ZM53 3.5L1 3.5L1 4.5L53 4.5L53 3.5Z' fill='%23FFE474'/%3E%3C/svg%3E");
            background-position: 5px;

            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 3.64645C0.451183 3.84171 0.451183 4.1583 0.646446 4.35356L3.82843 7.53554C4.02369 7.7308 4.34027 7.7308 4.53553 7.53554C4.7308 7.34028 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17158C4.7308 0.976315 4.7308 0.659733 4.53553 0.46447C4.34027 0.269208 4.02369 0.269208 3.82843 0.46447L0.646446 3.64645ZM53 3.5L1 3.5L1 4.5L53 4.5L53 3.5Z' fill='white'/%3E%3C/svg%3E");
            }
        }

        .pagination__right {
            background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.3536 4.35355C52.5488 4.15829 52.5488 3.84171 52.3536 3.64645L49.1716 0.464466C48.9763 0.269204 48.6597 0.269204 48.4645 0.464466C48.2692 0.659728 48.2692 0.976311 48.4645 1.17157L51.2929 4L48.4645 6.82843C48.2692 7.02369 48.2692 7.34027 48.4645 7.53553C48.6597 7.7308 48.9763 7.7308 49.1716 7.53553L52.3536 4.35355ZM0 4.5L52 4.5V3.5L0 3.5L0 4.5Z' fill='%23FFE474'/%3E%3C/svg%3E");
            background-position: -5px;

            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.3536 4.35355C52.5488 4.15829 52.5488 3.84171 52.3536 3.64645L49.1716 0.464466C48.9763 0.269204 48.6597 0.269204 48.4645 0.464466C48.2692 0.659728 48.2692 0.976311 48.4645 1.17157L51.2929 4L48.4645 6.82843C48.2692 7.02369 48.2692 7.34027 48.4645 7.53553C48.6597 7.7308 48.9763 7.7308 49.1716 7.53553L52.3536 4.35355ZM0 4.5L52 4.5V3.5L0 3.5L0 4.5Z' fill='white'/%3E%3C/svg%3E");
            }
        }

        .pagination__num {
            padding: 0 10px;
            display: flex;
            justify-content: space-between;

            span {
                color: $mainClr;
                opacity: 0.3;
                font-size: 28px;
                font-weight: 500;
                letter-spacing: 0.065em;
                margin: 0 20px;
                cursor: pointer;

                @media (max-width: 1024px) {
                    font-size: 25px;
                }
            }

            .pagination__active {
                opacity: 1;
            }
        }
    }
}

.catalog__filter .filter--active {
    // display: flex;
    // height: unset;
    animation-name: filter-active;
}

.catalog__filter .paused {
    animation: none;
}

.catalog__filter .reverse {
    animation-name: filter-disable;
}

@keyframes filter-active {
    to {
        margin-top: 0;
    }
}

@keyframes filter-disable {
    to {
        margin-top: -2000px;
    }
}

@keyframes catalog-arrow {
    60% {
        background-position: 0px;
    }
}

.modal-good {
    position: absolute;
    top: 300px;
    max-width: 1306px;
    width: 75%;
    left: 15.5%;
    background-color: #8F824C;
    display: flex;
    flex-direction: column;
    z-index: 6;
    transition: 0.6s;

    @media (max-width: 1500px) {
        width: 82%;
        left: 10%;

        @media (max-width: 1200px) {
            width: 91%;
            left: 4%;

            @media (max-width: 1024px) {
                width: 100%;
                left: 0;
                top: 0;
                position: relative;
            }
        }
    }

    &[data-show='false'] {
        display: none;
    }

    &[data-show='true'] {
        display: flex;
    }

    &__close {
        align-self: flex-end;
        width: 22px;
        height: 22px;
        cursor: pointer;
        transition: 0.6s;
        display: flex;
        margin-top: 25px;
        margin-right: 40px;

        svg {
            width: 100%;
            height: 100%;
        }

        &:hover {
            transform: rotate(180deg);
        }

        @media (max-width: 770px) {
            display: none;
        }
    }

    &__info {
        display: flex;
        border-bottom: 1px solid rgba(32, 33, 36, 0.2);
        padding: 10px 40px 40px 40px;

        @media (max-width: 770px) {
            flex-direction: column;
            // align-items: center;
        }
    }

    &__img {
        padding: 75px 30px 0 0;

        @media (max-width: 1024px) {
            width: 30%;

            @media (max-width: 770px) {
                width: 60%;
                padding: 0;
                padding-top: 20px;
                align-self: center;
            }
        }

        img {
            width: 100%;
        }
    }

    &__title {

        @media (max-width: 770px) {
            margin-top: 40px;
            text-align: center;
        }

        h2 {
            font-size: 25px;
            font-weight: 500;
        }
    }

    &__specif {
        display: flex;
        flex-direction: column;

        .specif {
            padding-top: 30px;
            display: flex;
            flex-direction: column;

            &__item {
                padding-left: 30px;
                padding-bottom: 13px;

                @media (max-width: 770px) {
                    padding-left: 0;
                }
            }

            &__title {
                h3 {
                    font-size: 22px;
                    font-weight: 300;
                    color: $background;

                    @media (max-width: 414px) {
                        font-weight: 500;
                    }
                }
            }

            &__info {
                padding: 13px 0;
                font-size: 18px;
                font-weight: 300;

                @media (max-width: 414px) {
                    font-size: 16px;
                }
            }

            &__price {
                margin-top: 100px;
                font-weight: 500;
                color: $mainClr;

                @media (max-width: 770px) {
                    margin-top: 40px;
                }
            }

            &__add {
                display: flex;
                margin-top: 20px;
                align-items: center;

                @media (max-width: 568px) {
                    width: 100%;
                    justify-content: space-between;
                }
            }

            &__stock {
                margin-right: 140px;
                font-weight: 500;

                b {
                    color: $mainClr;
                }

                @media (max-width: 568px) {
                    margin-right: 0;

                    @media (max-width: 414px) {
                        font-size: 16px;
                    }
                }
            }

            &__order {
                display: flex;
                align-items: center;
                font-weight: 500;
                background: none;
                color: $mainClr;
                cursor: pointer;

                @media (max-width: 1024px) {
                    font-size: 20px;

                    @media (max-width: 414px) {
                        font-size: 16px;
                    }
                }

                svg {
                    margin-left: 20px;
                    transition: 0.4s;

                    @media (max-width: 414px) {
                        margin-left: 10px;
                        width: 15px;
                    }
                }
            }
        }
    }

    &__form {
        padding: 50px 100px;
        display: flex;
        flex-direction: column;
        transition: 0.4s;
        z-index: -1;

        @media (max-width: 770px) {
            padding: 40px;
        }

        &[data-show='false'] {
            // display: none;
            // height: 0;
            opacity: 0;
            margin-top: -710px;
            z-index: -1;
            transition: 0.4s;

            @media (max-width: 1024px) {
                margin-top: -678px;

                @media (max-width: 770px) {
                    margin-top: -657px;

                    @media (max-width: 715px) {
                        margin-top: -788px;

                        @media (max-width: 568px) {
                            margin-top: -777px;

                            @media (max-width: 414px) {
                                margin-top: -650px;
                            }
                        }
                    }
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;

            .modal-good__form--name {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;

                @media (max-width: 715px) {
                    flex-direction: column;
                }
            }

            label {
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
                max-width: 520px;
                width: 47%;

                @media (max-width: 715px) {
                    width: 100%;
                    align-self: center;

                    @media (max-width: 414px) {
                        margin-bottom: 30px;
                    }
                }

                p {
                    font-size: 18px;
                    letter-spacing: 0.065em;
                    text-align: unset;
                    align-self: unset;
                    max-width: unset;

                    @media (max-width: 414px) {
                        font-size: 16px;
                    }
                }

                input[type='text'] {
                    margin-top: 20px;
                    background: $background;
                    width: 100%;
                    height: 80px;
                    font-size: 18px;
                    padding: 0 30px;
                    color: white;

                    @media (max-width: 1200px) {
                        height: 60px;
                        padding: 0 20px;

                        @media (max-width: 414px) {
                            margin-top: 10px;
                            font-size: 16px;
                            height: 50px;
                        }
                    }
                }
            }

            .button {
                margin-top: 0;
                margin-bottom: 20px;
                width: 296px;
                height: 92px;
                border-width: 1px;
                align-self: center;

                @media (max-width: 1200px) {
                    width: 250px;
                    height: 70px;

                    @media (max-width: 715px) {
                        width: 200px;
                        height: 60px;
                    }
                }

                &:hover {
                    .button__wrap {
                        width: 270px;
                        height: 130px;

                        @media (max-width: 1200px) {
                            width: 215px;
                            height: 95px;

                            @media (max-width: 1024px) {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }

                .button__wrap {
                    border-width: 1px;
                    background: none;
                    cursor: pointer;
                    color: $mainClr;

                    @media (max-width: 1024px) {
                        animation-name: modal-catalog-button;
                        animation-duration: 3s;
                        animation-iteration-count: infinite;

                        @media (max-width: 715px) {
                            font-size: 20px;
                        }
                    }
                }
            }

            .checkbox {
                flex-direction: row;
                align-items: center;

                p {
                    @media (max-width: 568px) {
                        font-size: 16px;
                    }
                }

                input {
                    display: none;
                }

                div {
                    width: 30px;
                    height: 30px;
                    background: $background;
                    margin-right: 20px;

                    b {
                        color: $mainClr;
                        opacity: 0;
                        font-size: 40px;
                        line-height: 20px;
                        transition: 0.2s;
                    }
                }

                input:checked+div b {
                    opacity: 1;
                }
            }
        }

        p {
            text-align: center;
            align-self: center;
            font-size: 16px;
            font-weight: 300;
            max-width: 370px;
            letter-spacing: 0.065em;
            line-height: 174.19%;

            @media (max-width: 414px) {
                font-size: 10px;
            }

            a {
                color: $mainClr;
            }
        }
    }
}

.bg-polygon-10 {
    top: 20%;
    opacity: 0.2;
}

.bg-polygon-11 {
    right: 0;
    top: 80%;
}

@keyframes modal-catalog-button {
    50% {
        width: 215px;
        height: 95px;
    }
}

@media (max-width: 715px) {
    @keyframes modal-catalog-button {
        50% {
            width: 175px;
            height: 80px;
        }
    }
}