@import "var";

.header--up {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 7px 0;
    font-size: var(--size-font-base-small);
    font-weight: 300;
    align-items: center;
    border-bottom: 0.5px solid rgba(239, 219, 106, 0.2);

    @media (max-width: 771px) {
        display: none;
    }

    .wrap {
        align-items: center;
        justify-content: flex-end;
        height: 20px;
        // padding: 15px 0;

        @media (max-width: 1024px) {
            justify-content: space-between;
            max-width: 960px;
            width: 96%;
            margin: 0 30px;
        }

        .header--up__email {
            margin-left: 0;
        }

        .header--up__phone {
            @media (max-width: 1024px) {
                margin: 0;
            }
        }

        a {
            color: $mainClr;
            display: flex;
            align-items: center;
            margin: 0 45px;
        }
    }

    &__links {
        display: flex;
    }

    &__ico {
        height: 20px;
        width: 20px;
        margin-right: 7px;

        svg {
            height: 100%;
            width: 100%;
        }

        @media screen and (max-width: 1024px) {
            height: 15px;
            width: 15px;
        }
    }

    &__search {
        position: relative;
        display: flex;
        width: 200px;
        height: 100%;
        margin-left: 15px;

        @media (max-width: 1024px) {
            max-width: 200px;
            width: 27%;
            min-width: 150px;
        }

        input {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            border: none;
            color: $txtClr;
            font-size: var(--size-font-base-small);
            padding-left: 10px;
            font-family: $fontFam;
            font-weight: 300;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $txtClr;
            }
        }

        button {
            position: absolute;
            right: 10px;
            height: 100%;
            background: transparent;
            border: none;

            &:focus {
                outline: none;
            }

            svg {
                width: 15px;
                height: 100%;
            }
        }
    }

    .search-data {
        position: absolute;
        top: 70px;
        // width: 68%;
        // min-height: 180px;
        height: 90vh;
        // max-height: 600px;
        z-index: 16;
        // transition: 0.4s;

        &[aria-expanded="false"] {
            z-index: -1;
            opacity: 0;
            // height: 0;
        }

        ::-webkit-scrollbar {
            width: 5px;
        }

        ul {
            position: absolute;
            width: 500px;
            height: 100%;
            // border: 1px solid rgba(255, 255, 255, 0.226);
            padding: 10px 10px;
            // border-radius: 4px;
            right: 0;
            overflow-y: scroll;
            // width: unset;

            a {
                padding: 40px;
                border: 1px solid rgba(255, 255, 255, 0.226);
                // border-radius: 4px;
                margin: 0 0 10px 0;
                background: $background;
                transition: 0.2s;
                color: white;
                cursor: default;

                &:hover {
                    transform: scale(1.02);
                }

                &[aria-expanded="false"] {
                    display: none;
                }

                .goods__item {
                    display: flex;
                    align-items: center;
                    // justify-content: space-between;

                    img {
                        width: 60px;
                        margin-right: 30px;
                    }

                    h5 {
                        margin-right: 30px;
                        width: 115px;
                    }

                    .item-info {
                        justify-self: flex-end;
                        display: flex;
                        flex-direction: column;

                        b {
                            color: $mainClr;
                        }

                        .good__stock {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
}

header {
    width: 100%;
    height: 120px;
    position: sticky;
    top: -1px;
    background-color: $background;
    z-index: 15;
    transition: 0.2s;
    font-size: var(--size-font-base);

    .header--wrap {
        justify-content: space-between;
        align-items: center;
        height: 100%;

        a {
            display: none;
        }

        @media (max-width: 771px) {
            position: relative;
            display: none;
            flex-direction: column;
            align-self: center;
            width: 100%;
            height: 0;
            margin: 0;
            margin-top: -130px;
            padding-bottom: 10px;
            background: $background;
            // border-bottom: 0.5px solid rgba(239, 219, 106, .2);
            z-index: -1;
            animation-duration: 0.4s;
            animation-iteration-count: infinite;

            a {
                display: unset;
                height: 25%;
                text-align: center;
                padding: 10px;
                font-weight: 300;
                border-bottom: 1px solid $background;
                // width: 100%;
            }

            .logo {
                display: none;
            }
        }
    }

    @media (max-width: 771px) {
        display: flex;
        flex-direction: column;
        height: 70px;
        border-bottom: 0.5px solid rgba(239, 219, 106, 0.2);
    }
}

header .header--left,
header .header--right {
    display: flex;
    max-width: 420px;
    width: 33%;
    align-items: center;
    justify-content: space-between;

    a {
        display: unset;
    }

    @media (max-width: 771px) {
        display: none;
    }
}

header .header--right {
    @media (max-width: 1024px) {
        max-width: 240px;
        width: 38%;
    }
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $mainClr;
    font-weight: 500;
    font-size: var(--size-font-logo);

    p {
        margin: 0;
        background: $gradient;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    span {
        height: calc(var(--size-font-logo) * 2.35);
        font-size: calc(var(--size-font-logo) * 2.35);
        background: $gradient;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
    }
}

header a.logo {
    display: flex;
}

.burger {
    @media (min-width: 771px) {
        display: none;
    }

    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;
    padding: 0 30px;
    margin: 0;
    background: $background;

    .burger__logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo-img {
            height: 50px;
            width: 50px;
            margin-right: 10px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .logo {
            font-size: calc(var(--size-font-logo) * 0.9);

            span {
                height: calc(var(--size-font-logo) * 1.8);
                font-size: calc(var(--size-font-logo) * 1.8);
            }
        }
    }

    &__btn {
        cursor: pointer;

        svg {
            height: 25px;

            rect {
                transition: 0.4s;
            }
        }
    }
}

header .header--active {
    // display: flex;
    // margin-right: 0;
    animation-name: burger-active;
}

header .paused {
    animation: none;
}

header .reverse {
    animation-name: burger-disable;
}

@keyframes burger-active {
    to {
        margin: 70px;
        height: 200px;
    }
}

@keyframes burger-disable {
    to {
        margin-top: -130px;
        height: 0;
    }
}
