@import 'var';

.host {
    padding-top: 100px;

    @media (max-width: 1200px) {
        padding-top: 50px;
    }

    &__wrap {
        flex-direction: column;

        @media (max-width: 1200px) {
            max-width: 960px;
            width: 94%;
        }
    }

    &__title {
        color: $mainClr;
    }

    &__info {
        display: flex;
        padding-top: 55px;
        padding-bottom: 80px;
        // justify-content: center;

            @media (max-width: 715px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;

                @media (max-width: 414px) {
                    padding-bottom: 20px;
                }
            }
    }

    &__txt {
        width: 60%;

        @media (max-width: 1024px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media (max-width: 715px) {
                order: 2;
                margin-top: 30px;
                width: 100%;
            }
        }
    }

    &__block {
        padding-bottom: 40px;
        width: 95%;

        h5 {
            display: flex;
            align-items: center;
            font-size: 28px;
            font-weight: 400;

            @media (max-width: 1024px) {
                font-size: 20px;

                @media (max-width: 414px) {
                    font-size: 16px;
                }
            }

            span {
                color: $mainClr;
                margin-right: 20px;
                font-size: 40px;

                @media (max-width: 1024px) {
                    font-size: 25px;
                }
            }
        }

        p {
            margin-top: 30px;
            margin-left: 105px;
            font-weight: 300;
            color: $mainClr;

            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 349px;
        background-color: rgba(196, 196, 196, 0.3);

        @media (max-width: 715px) {
            order: 1;
            width: 95%;

            @media (max-width: 414px) {
                max-width: 320px;
                max-height: 160px;
            }
        }

        img {
            width: 30%;
        }
    }
}

.big-form {
    padding: 100px 0 50px 0;

    @media (max-width: 1024px) {
        padding-bottom: 0;
    }

    &__wrap {
        flex-direction: column;

        @media (max-width: 414px) {
            max-width: 330px;
            width: 83%;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            margin-top: 20px;
            color: $mainClr;
            font-size: 40px;
            font-weight: 400;
            max-width: 620px;

            @media (max-width: 1024px) {
                font-size: 30px;

                @media (max-width: 715px) {
                    font-size: 16px;
                }
            }
        }
    }

    span {
        color: $mainClr;
    }

    p {
        align-self: center;
        max-width: 370px;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.065em;
        line-height: 174.19%;
        color: #F9F9F9;

        @media (max-width: 1024px) {
            font-size: 10px;
            max-width: 300px;
        }

        a {
            color: $mainClr;
            text-decoration: underline;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 20px;

        @media (max-width: 414px) {
            padding-top: 20px;
        }

        h6 {
            font-size: 28px;
            font-weight: 300;
            margin-bottom: 45px;

            @media (max-width: 1024px) {
                font-size: 16px;
                margin-bottom: 25px;

                @media (max-width: 414px) {
                    display: flex;
                    font-size: 10px;
                    align-items: center;
                }
            }

            span {
                font-size: 30px;

                @media (max-width: 1024px) {
                    font-size: 25px;
                    margin-right: 5px;

                    @media (max-width: 414px) {
                        font-size: 22px;
                        margin-right: 10px;
                        line-height: 10px;
                    }
                }
            }
        }

        p {
            font-size: 28px;
            font-weight: 400;
            text-align: unset;
            align-self: unset;

            @media (max-width: 1024px) {
                font-size: 20px;
                font-weight: 300;

                @media (max-width: 715px) {
                    display: none;
                    font-size: 16px;
                }
            }
        }

        label {
            display: flex;
            flex-direction: column;
            max-width: 520px;
            width: 42%;

            @media (max-width: 1024px) {
                max-width: 300px;
                width: 44%;

                @media (max-width: 715px) {
                    flex-direction: row;
                    width: 100%;
                    max-width: unset;
                    justify-content: space-between;
                    align-items: center;

                    @media (max-width: 414px) {
                        padding-bottom: 25px;
                    }
                }
            }

            .big-form--media {
                display: none;

                @media (max-width: 715px) {
                    display: unset;
                }

                &-not {
                    display: unset;
                }
            }
        }

        .big-form__name {
            display: flex;
            justify-content: space-between;

            @media (max-width: 715px) {
                flex-direction: column;
            }
        }

        input {
            margin-top: 20px;
            margin-bottom: 60px;
            padding-left: 20px;
            width: 100%;
            height: 90px;
            background-color: rgba(255, 227, 116, 0.4);
            color: $txtClr;

            @media (max-width: 1024px) {
                font-size: 16px;
                height: 50px;
                margin-top: 15px;
                margin-bottom: 25px;

                @media (max-width: 715px) {
                    max-width: 220px;
                    width: 60%;
                    font-size: 15px;

                    @media (max-width: 414px) {
                        max-width: 176px;
                        height: 30px;
                        width: 60%;
                        font-size: 15px;
                        font-weight: 300;
                        margin: 0;
                        padding-left: 10px;
                    }
                }
            }

            &::placeholder {
                color: $mainClr;
                opacity: 0.63;

                @media (max-width: 715px) {
                    font-weight: 300;
                }
            }
        }

        .big-form__button {
            align-self: center;
            width: 296px;
            height: 90px;
            border-width: 1px;
            margin: 0;

            @media (max-width: 1024px) {
                width: 240px;
                height: 60px;
                margin-top: 30px;

                @media (max-width: 414px) {
                    width: 190px;
                    height: 50px;
                }
            }

            .button__wrap {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                background: none;
                color: $mainClr;
                cursor: pointer;

                @media (max-width: 1024px) {
                    font-size: 25px;
                    animation-name: big-form-button;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    max-width: unset;

                    @media (max-width: 414px) {
                        font-size: 22px;
                    }
                }
            }

            &:hover {
                .button__wrap {
                    width: 90%;
                    height: 140%;
                    border-width: 1px;

                    @media (max-width: 1024px) {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

@keyframes big-form-button {
    50% {
        width: 200px;
        height: 90px;
    }
}

@media (max-width: 414px) {
    @keyframes big-form-button {
        50% {
            width: 157px;
            height: 74px;
        }
    }
}

.bg-polygon-4 {
    right: 0;
    top: 60%;
}

.bg-polygon-5 {
    top: 300%;
}