@import 'var';

.best-offer {
    padding: 100px 0 50px 0;

    @media (max-width: 715px) {
        padding: 20px 0 30px;
    }

    &__wrap {
        flex-direction: column;
        align-items: center;
        width: 1306px;

        @media (max-width: 1500px) {
            max-width: 1306px;
            width: 90%;
            min-width: 780px;

            @media (max-width: 1024px) {
                max-width: 780px;
                min-width: unset;

            }
        }
    }

    &__goods {
        width: 100%;
        margin: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 715px) {
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            margin-top: 40px;
        }
    }

    &__good {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        line-height: 34px;
        cursor: pointer;
        margin: 0 40px 40px 40px;

        @media (max-width: 1500px) {
            max-width: 300px;

            @media (max-width: 715px) {
                max-width: 225px;
            }
        }

        &:last-child {
            @media (max-width: 1024px) {
                display: none;
            }
        }

        img {
            width: 100%;
            max-height: 380px;

            @media (max-width: 1500px) {
                max-height: 340px;
            }
        }

        h5 {
            margin-top: 40px;
            font-size: 28px;
            font-weight: 500;

            @media (max-width: 1024px) {
                font-size: 20px;

                @media (max-width: 715px) {
                    margin-top: 20px;
                }
            }
        }

        p {
            font-weight: 300;
            margin-bottom: 20px;

            @media (max-width: 1024px) {
                font-size: 16px;

                @media (max-width: 715px) {
                    margin-bottom: 15px;
                }
            }
        }

        b {
            color: $mainClr;
        }

        .good__price {
            color: $mainClr;
            font-weight: 500;

            @media (max-width: 1024px) {
                font-size: 25px;

                @media (max-width: 715px) {
                    font-size: 22px;
                }
            }
        }

        .good__stock {
            display: none;
            font-weight: 500;

            @media (max-width: 1024px) {
                font-size: 20px;
            }
        }

        &:hover {
            .good__price {
                display: none;
            }

            .good__stock {
                display: unset;
            }
        }
    }

    &__button {
        @media (max-width: 715px) {
            margin-top: 0;
            border-width: 1px;

            .button__wrap {
                border-width: 1px;
            }
        }
    }
}

.feedback {
    padding: 50px 0 100px 0;

    @media (max-width: 715px) {
        padding: 60px 0;
    }

    &__wrap {
        justify-content: space-between;
        margin-top: 50px;

        @media (max-width: 1024px) {
            margin-top: 0;
            max-width: 960px;
            width: 96%;
        }

        a {
            color: $mainClr;
            transition: 0.4s;

            &:hover {
                color: $txtClr;
            }
        }
    }
}

.bg-polygon {
    top: 90%;
}

.bg-polygon-2 {
    top: 140%;
    right: 0;
}