.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1500px) {
  .about__wrap {
    width: 964px;
  }
}

@media (max-width: 1500px) and (max-width: 1024px) {
  .about__wrap {
    max-width: 964px;
    min-width: 240px;
    width: 96%;
  }
}

.about__title {
  color: #ffe474;
}

.about__img {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: rgba(196, 196, 196, 0.3);
}

@media (max-width: 414px) {
  .about__img {
    max-width: 319px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.about__img img {
  width: 100%;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__txt {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

@media (max-width: 1024px) {
  .about__txt {
    text-align: left;
    max-width: 645px;
    font-weight: 300;
    line-height: 160.9%;
  }
}

@media (max-width: 1024px) and (max-width: 414px) {
  .about__txt {
    max-width: 319px;
    font-size: 16px;
  }
}

.partner {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 1024px) {
  .partner {
    padding-bottom: 0;
  }
}

.partner__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 414px) {
  .partner__wrap {
    max-width: 340px;
    width: 86%;
  }
}

@media (max-width: 1024px) {
  .partner__title {
    max-width: 678px;
  }
}

.partner__title span {
  color: #ffe474;
}

.partner__block {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 715px) {
  .partner__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 715px) and (max-width: 414px) {
  .partner__block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.partner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 5px;
  max-width: 340px;
}

@media (max-width: 1200px) {
  .partner__item {
    max-width: 200px;
  }
}

@media (max-width: 1200px) and (max-width: 1024px) {
  .partner__item {
    max-width: 193px;
  }
}

@media (max-width: 1200px) and (max-width: 1024px) and (max-width: 715px) {
  .partner__item {
    max-width: 142px;
    margin: 30px 20px;
  }
}

@media (max-width: 1200px) and (max-width: 1024px) and (max-width: 715px) and (max-width: 414px) {
  .partner__item {
    margin: 15px auto;
  }
}

.partner__item p {
  text-align: center;
}

@media (max-width: 1200px) {
  .partner__item p {
    font-size: 16px;
    font-weight: 300;
  }
}

@media (max-width: 1200px) and (max-width: 414px) {
  .partner__item p {
    font-size: 15px;
  }
}

.partner__ico {
  width: 100%;
}

@media (max-width: 1200px) {
  .partner__ico {
    margin-bottom: 25px;
  }
}

.partner__ico img {
  width: 100%;
}

.bg-polygon-6 {
  top: 30%;
}

.bg-polygon-7 {
  right: 0;
  top: 80%;
}
