.brands {
  padding-top: 80px;
  font-weight: 300;
}

.catalog {
  padding-top: 70px;
}

@media (max-width: 770px) {
  .catalog {
    padding: 0;
  }
}

.catalog__wrap {
  width: 1306px;
}

@media (max-width: 1500px) {
  .catalog__wrap {
    width: 96%;
  }
}

@media (max-width: 1500px) and (max-width: 770px) {
  .catalog__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: unset;
  }
}

.catalog .filter__burger {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  width: 100%;
  background: rgba(227, 205, 106, 0.42);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 26px;
  padding: 0 40px;
  z-index: 6;
}

@media (max-width: 770px) {
  .catalog .filter__burger {
    top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.catalog .filter__burger .svg {
  cursor: pointer;
}

.catalog .filter__burger .svg circle {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.catalog .filter__burger .catalog__back {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
}

.catalog .filter__burger .catalog__back svg {
  margin-right: 10px;
}

.catalog__filter {
  width: 340px;
}

@media (max-width: 1024px) {
  .catalog__filter {
    width: 290px;
  }
}

@media (max-width: 1024px) and (max-width: 770px) {
  .catalog__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    background: rgba(227, 205, 106, 0.42);
    top: 96px;
    height: unset;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.catalog__filter .filter__wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
  width: 100%;
  background: rgba(227, 205, 106, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 5;
}

@media (max-width: 770px) {
  .catalog__filter .filter__wrap {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -2000px;
    position: unset;
    width: 100%;
    background: rgba(104, 95, 54, 0.8);
    border: none;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}

.catalog__filter .filter__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 15px;
}

.catalog__filter .filter__item .filter-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  height: unset;
  cursor: pointer;
}

@media (max-width: 770px) {
  .catalog__filter .filter__item .filter-item__title {
    padding: 15px 25px;
  }
}

@media (max-width: 770px) and (max-width: 414px) {
  .catalog__filter .filter__item .filter-item__title {
    padding: 10px 25px;
  }
}

.catalog__filter .filter__item .filter-item__title h5 {
  font-size: 22px;
  font-weight: 300;
  max-width: 220px;
}

@media (max-width: 1024px) {
  .catalog__filter .filter__item .filter-item__title h5 {
    font-size: 18px;
  }
}

@media (max-width: 1024px) and (max-width: 414px) {
  .catalog__filter .filter__item .filter-item__title h5 {
    font-size: 16px;
  }
}

.catalog__filter .filter__item .filter-item__title img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.catalog__filter .filter__item .filter-item__val {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 15px 0 30px 0;
}

@media (max-width: 770px) {
  .catalog__filter .filter__item .filter-item__val {
    padding: 10px 25px 20px 25px;
  }
}

.catalog__filter .filter__item .filter-item__val label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7.5px 0;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .catalog__filter .filter__item .filter-item__val label {
    font-size: 16px;
  }
}

.catalog__filter .filter__item .filter-item__val label input {
  margin-right: 20px;
}

.catalog__filter .filter__item .filter-item__val label input[type='checkbox'] {
  display: none;
}

.catalog__filter .filter__item .filter-item__val label div {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.809018 29.5L15 1.11803L29.191 29.5H0.809018Z' fill='none' stroke='%23FFE474'/%3E%3C/svg%3E%0A");
}

.catalog__filter .filter__item .filter-item__val label input:checked + div {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.809018 29.5L15 1.11803L29.191 29.5H0.809018Z' fill='%23FFE474' stroke='%23FFE474'/%3E%3C/svg%3E%0A");
}

.catalog__filter .filter__item--active .filter-item__title img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.catalog__filter .filter__item--active .filter-item__val {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__filter .filter__price .filter__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__filter .filter__price .filter__input label input {
  width: 80px;
  height: 30px;
  background: #202124;
  color: white;
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
}

.catalog__filter .filter__price .filter__input--range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__filter .filter__price .filter__input .noUi-horizontal {
  border: none;
  height: 1px;
  margin-top: 35px;
  margin-bottom: 15px;
  width: 90%;
}

.catalog__filter .filter__price .filter__input .noUi-horizontal .noUi-handle {
  height: 18px;
  top: -10px;
}

.catalog__filter .filter__price .filter__input .noUi-connect {
  background: #FFE474;
}

.catalog__filter .filter__price .filter__input .noUi-handle {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.809018 29.5L15 1.11803L29.191 29.5H0.809018Z' fill='%23FFE474' stroke='%23FFE474'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.catalog__filter .filter__price .filter__input .noUi-handle:after, .catalog__filter .filter__price .filter__input .noUi-handle:before {
  display: none;
}

.catalog__filter .filter__price .filter__input .noUi-touch-area:focus,
.catalog__filter .filter__price .filter__input .noUi-horizontal .noUi-handle:focus {
  outline: none;
}

.catalog__filter .filter__price .filter__min-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.catalog__filter .filter__price .filter__min-max small {
  font-size: 14px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .catalog__filter .filter__price .filter__min-max small {
    font-size: 10px;
  }
}

.catalog__filter .filter__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 770px) {
  .catalog__filter .filter__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.catalog__filter .filter__buttons button,
.catalog__filter .filter__buttons input {
  background: none;
  cursor: pointer;
}

.catalog__filter .filter__buttons .filter__apply {
  margin: 40px 0;
  width: 215px;
  height: 65px;
  border: 1px solid #FFE474;
  color: #FFE474;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 25px;
}

@media (max-width: 1024px) {
  .catalog__filter .filter__buttons .filter__apply {
    font-size: 20px;
    width: 180px;
    height: 50px;
  }
}

@media (max-width: 1024px) and (max-width: 414px) {
  .catalog__filter .filter__buttons .filter__apply {
    font-size: 16px;
    width: 150px;
    height: 50px;
    margin: 20px 0;
  }
}

.catalog__filter .filter__buttons .filter__apply:hover {
  background: #FFE474;
  color: black;
}

.catalog__filter .filter__buttons .filter__clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

@media (max-width: 770px) {
  .catalog__filter .filter__buttons .filter__clear {
    margin-bottom: 0;
    margin-left: 40px;
  }
}

.catalog__filter .filter__buttons .filter__clear:hover img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.catalog__filter .filter__buttons .filter__clear input {
  color: white;
  font-size: 22px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .catalog__filter .filter__buttons .filter__clear input {
    font-size: 20px;
  }
}

@media (max-width: 1024px) and (max-width: 414px) {
  .catalog__filter .filter__buttons .filter__clear input {
    font-size: 16px;
  }
}

.catalog__filter .filter__buttons .filter__clear img {
  -webkit-transition: 1s;
  transition: 1s;
  margin-right: 10px;
}

@media (max-width: 414px) {
  .catalog__filter .filter__buttons .filter__clear img {
    width: 20px;
    height: 20px;
  }
}

.catalog__goods {
  width: 74%;
  max-width: 960px;
}

@media (max-width: 770px) {
  .catalog__goods {
    max-width: unset;
    padding: 0 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 45px;
  }
}

@media (max-width: 770px) and (max-width: 414px) {
  .catalog__goods {
    max-width: 305px;
    margin: 45px auto 0 auto;
    padding: 0;
  }
}

.catalog__goods .goods__wrap {
  padding: 0 0 50px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 1500px) {
  .catalog__goods .goods__wrap {
    padding-left: 100px;
  }
}

@media (max-width: 1500px) and (max-width: 1024px) {
  .catalog__goods .goods__wrap {
    padding-left: 60px;
    padding-bottom: 10px;
  }
}

@media (max-width: 1500px) and (max-width: 1024px) and (max-width: 770px) {
  .catalog__goods .goods__wrap {
    padding: 0;
  }
}

.catalog__goods .goods__wrap .goods__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 310px;
  cursor: pointer;
  line-height: 34px;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  .catalog__goods .goods__wrap .goods__item {
    max-width: 260px;
    padding: 0 15px;
    width: 42%;
  }
}

@media (max-width: 1200px) and (max-width: 770px) {
  .catalog__goods .goods__wrap .goods__item {
    max-width: 200px;
    width: 140%;
  }
}

@media (max-width: 1200px) and (max-width: 770px) and (max-width: 568px) {
  .catalog__goods .goods__wrap .goods__item {
    max-width: 200px;
    width: 50%;
  }
}

.catalog__goods .goods__wrap .goods__item img {
  width: 100%;
  max-height: 300px;
}

.catalog__goods .goods__wrap .goods__item h5 {
  margin-top: 40px;
  font-size: 28px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .catalog__goods .goods__wrap .goods__item h5 {
    font-size: 25px;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) and (max-width: 770px) {
  .catalog__goods .goods__wrap .goods__item h5 {
    font-size: 16px;
    margin-top: 10px;
  }
}

.catalog__goods .goods__wrap .goods__item p {
  font-weight: 300;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .catalog__goods .goods__wrap .goods__item p {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 20px;
  }
}

@media (max-width: 1024px) and (max-width: 770px) {
  .catalog__goods .goods__wrap .goods__item p {
    font-size: 15px;
    margin-bottom: 0;
  }
}

.catalog__goods .goods__wrap .goods__item b {
  color: #FFE474;
  margin-right: 10px;
}

.catalog__goods .goods__wrap .goods__item .good__price {
  color: #FFE474;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .catalog__goods .goods__wrap .goods__item .good__price {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

@media (max-width: 1024px) and (max-width: 770px) {
  .catalog__goods .goods__wrap .goods__item .good__price {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.catalog__goods .goods__wrap .goods__item .good__stock {
  display: none;
  font-weight: 500;
  font-size: 22px;
}

@media (max-width: 1024px) {
  .catalog__goods .goods__wrap .goods__item .good__stock {
    display: unset;
  }
}

@media (max-width: 1024px) and (max-width: 770px) {
  .catalog__goods .goods__wrap .goods__item .good__stock {
    font-size: 15px;
  }
}

@media (min-width: 1025px) {
  .catalog__goods .goods__wrap .goods__item:hover .good__price {
    display: none;
  }
}

.catalog__goods .goods__wrap .goods__item:hover .good__stock {
  display: unset;
}

.catalog__pagination {
  padding-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 770px) {
  .catalog__pagination {
    padding: 0;
  }
}

.catalog__pagination .pagination__left,
.catalog__pagination .pagination__right {
  width: 52px;
  height: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.catalog__pagination .pagination__left:hover,
.catalog__pagination .pagination__right:hover {
  -webkit-animation-name: catalog-arrow;
          animation-name: catalog-arrow;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.catalog__pagination .pagination__left {
  background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 3.64645C0.451183 3.84171 0.451183 4.1583 0.646446 4.35356L3.82843 7.53554C4.02369 7.7308 4.34027 7.7308 4.53553 7.53554C4.7308 7.34028 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17158C4.7308 0.976315 4.7308 0.659733 4.53553 0.46447C4.34027 0.269208 4.02369 0.269208 3.82843 0.46447L0.646446 3.64645ZM53 3.5L1 3.5L1 4.5L53 4.5L53 3.5Z' fill='%23FFE474'/%3E%3C/svg%3E");
  background-position: 5px;
}

.catalog__pagination .pagination__left:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 3.64645C0.451183 3.84171 0.451183 4.1583 0.646446 4.35356L3.82843 7.53554C4.02369 7.7308 4.34027 7.7308 4.53553 7.53554C4.7308 7.34028 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17158C4.7308 0.976315 4.7308 0.659733 4.53553 0.46447C4.34027 0.269208 4.02369 0.269208 3.82843 0.46447L0.646446 3.64645ZM53 3.5L1 3.5L1 4.5L53 4.5L53 3.5Z' fill='white'/%3E%3C/svg%3E");
}

.catalog__pagination .pagination__right {
  background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.3536 4.35355C52.5488 4.15829 52.5488 3.84171 52.3536 3.64645L49.1716 0.464466C48.9763 0.269204 48.6597 0.269204 48.4645 0.464466C48.2692 0.659728 48.2692 0.976311 48.4645 1.17157L51.2929 4L48.4645 6.82843C48.2692 7.02369 48.2692 7.34027 48.4645 7.53553C48.6597 7.7308 48.9763 7.7308 49.1716 7.53553L52.3536 4.35355ZM0 4.5L52 4.5V3.5L0 3.5L0 4.5Z' fill='%23FFE474'/%3E%3C/svg%3E");
  background-position: -5px;
}

.catalog__pagination .pagination__right:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.3536 4.35355C52.5488 4.15829 52.5488 3.84171 52.3536 3.64645L49.1716 0.464466C48.9763 0.269204 48.6597 0.269204 48.4645 0.464466C48.2692 0.659728 48.2692 0.976311 48.4645 1.17157L51.2929 4L48.4645 6.82843C48.2692 7.02369 48.2692 7.34027 48.4645 7.53553C48.6597 7.7308 48.9763 7.7308 49.1716 7.53553L52.3536 4.35355ZM0 4.5L52 4.5V3.5L0 3.5L0 4.5Z' fill='white'/%3E%3C/svg%3E");
}

.catalog__pagination .pagination__num {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__pagination .pagination__num span {
  color: #FFE474;
  opacity: 0.3;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.065em;
  margin: 0 20px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .catalog__pagination .pagination__num span {
    font-size: 25px;
  }
}

.catalog__pagination .pagination__num .pagination__active {
  opacity: 1;
}

.catalog__filter .filter--active {
  -webkit-animation-name: filter-active;
          animation-name: filter-active;
}

.catalog__filter .paused {
  -webkit-animation: none;
          animation: none;
}

.catalog__filter .reverse {
  -webkit-animation-name: filter-disable;
          animation-name: filter-disable;
}

@-webkit-keyframes filter-active {
  to {
    margin-top: 0;
  }
}

@keyframes filter-active {
  to {
    margin-top: 0;
  }
}

@-webkit-keyframes filter-disable {
  to {
    margin-top: -2000px;
  }
}

@keyframes filter-disable {
  to {
    margin-top: -2000px;
  }
}

@-webkit-keyframes catalog-arrow {
  60% {
    background-position: 0px;
  }
}

@keyframes catalog-arrow {
  60% {
    background-position: 0px;
  }
}

.modal-good {
  position: absolute;
  top: 300px;
  max-width: 1306px;
  width: 75%;
  left: 15.5%;
  background-color: #8F824C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 6;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 1500px) {
  .modal-good {
    width: 82%;
    left: 10%;
  }
}

@media (max-width: 1500px) and (max-width: 1200px) {
  .modal-good {
    width: 91%;
    left: 4%;
  }
}

@media (max-width: 1500px) and (max-width: 1200px) and (max-width: 1024px) {
  .modal-good {
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
  }
}

.modal-good[data-show='false'] {
  display: none;
}

.modal-good[data-show='true'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-good__close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 22px;
  height: 22px;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  margin-right: 40px;
}

.modal-good__close svg {
  width: 100%;
  height: 100%;
}

.modal-good__close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 770px) {
  .modal-good__close {
    display: none;
  }
}

.modal-good__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(32, 33, 36, 0.2);
  padding: 10px 40px 40px 40px;
}

@media (max-width: 770px) {
  .modal-good__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modal-good__img {
  padding: 75px 30px 0 0;
}

@media (max-width: 1024px) {
  .modal-good__img {
    width: 30%;
  }
}

@media (max-width: 1024px) and (max-width: 770px) {
  .modal-good__img {
    width: 60%;
    padding: 0;
    padding-top: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.modal-good__img img {
  width: 100%;
}

@media (max-width: 770px) {
  .modal-good__title {
    margin-top: 40px;
    text-align: center;
  }
}

.modal-good__title h2 {
  font-size: 25px;
  font-weight: 500;
}

.modal-good__specif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-good__specif .specif {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-good__specif .specif__item {
  padding-left: 30px;
  padding-bottom: 13px;
}

@media (max-width: 770px) {
  .modal-good__specif .specif__item {
    padding-left: 0;
  }
}

.modal-good__specif .specif__title h3 {
  font-size: 22px;
  font-weight: 300;
  color: #202124;
}

@media (max-width: 414px) {
  .modal-good__specif .specif__title h3 {
    font-weight: 500;
  }
}

.modal-good__specif .specif__info {
  padding: 13px 0;
  font-size: 18px;
  font-weight: 300;
}

@media (max-width: 414px) {
  .modal-good__specif .specif__info {
    font-size: 16px;
  }
}

.modal-good__specif .specif__price {
  margin-top: 100px;
  font-weight: 500;
  color: #FFE474;
}

@media (max-width: 770px) {
  .modal-good__specif .specif__price {
    margin-top: 40px;
  }
}

.modal-good__specif .specif__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 568px) {
  .modal-good__specif .specif__add {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.modal-good__specif .specif__stock {
  margin-right: 140px;
  font-weight: 500;
}

.modal-good__specif .specif__stock b {
  color: #FFE474;
}

@media (max-width: 568px) {
  .modal-good__specif .specif__stock {
    margin-right: 0;
  }
}

@media (max-width: 568px) and (max-width: 414px) {
  .modal-good__specif .specif__stock {
    font-size: 16px;
  }
}

.modal-good__specif .specif__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  background: none;
  color: #FFE474;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .modal-good__specif .specif__order {
    font-size: 20px;
  }
}

@media (max-width: 1024px) and (max-width: 414px) {
  .modal-good__specif .specif__order {
    font-size: 16px;
  }
}

.modal-good__specif .specif__order svg {
  margin-left: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 414px) {
  .modal-good__specif .specif__order svg {
    margin-left: 10px;
    width: 15px;
  }
}

.modal-good__form {
  position: relative;
  padding: 50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
}

@media (max-width: 770px) {
  .modal-good__form {
    padding: 40px;
  }
}

.modal-good__form[data-show='false'] {
  opacity: 0;
  margin-top: -710px;
  z-index: -1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 1024px) {
  .modal-good__form[data-show='false'] {
    margin-top: -678px;
  }
}

@media (max-width: 1024px) and (max-width: 770px) {
  .modal-good__form[data-show='false'] {
    margin-top: -657px;
  }
}

@media (max-width: 1024px) and (max-width: 770px) and (max-width: 715px) {
  .modal-good__form[data-show='false'] {
    margin-top: -788px;
  }
}

@media (max-width: 1024px) and (max-width: 770px) and (max-width: 715px) and (max-width: 568px) {
  .modal-good__form[data-show='false'] {
    margin-top: -777px;
  }
}

@media (max-width: 1024px) and (max-width: 770px) and (max-width: 715px) and (max-width: 568px) and (max-width: 414px) {
  .modal-good__form[data-show='false'] {
    margin-top: -650px;
  }
}

.modal-good__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-good__form form .modal-good__form--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 715px) {
  .modal-good__form form .modal-good__form--name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.modal-good__form form label {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 520px;
  width: 47%;
}

@media (max-width: 715px) {
  .modal-good__form form label {
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 715px) and (max-width: 414px) {
  .modal-good__form form label {
    margin-bottom: 30px;
  }
}

.modal-good__form form label p {
  font-size: 18px;
  letter-spacing: 0.065em;
  text-align: unset;
  -ms-flex-item-align: unset;
      -ms-grid-row-align: unset;
      align-self: unset;
  max-width: unset;
}

@media (max-width: 414px) {
  .modal-good__form form label p {
    font-size: 16px;
  }
}

.modal-good__form form label input[type='text'] {
  margin-top: 20px;
  background: #202124;
  width: 100%;
  height: 80px;
  font-size: 18px;
  padding: 0 30px;
  color: white;
}

@media (max-width: 1200px) {
  .modal-good__form form label input[type='text'] {
    height: 60px;
    padding: 0 20px;
  }
}

@media (max-width: 1200px) and (max-width: 414px) {
  .modal-good__form form label input[type='text'] {
    margin-top: 10px;
    font-size: 16px;
    height: 50px;
  }
}

.modal-good__form form .button {
  margin-top: 0;
  margin-bottom: 20px;
  width: 296px;
  height: 92px;
  border-width: 1px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1200px) {
  .modal-good__form form .button {
    width: 250px;
    height: 70px;
  }
}

@media (max-width: 1200px) and (max-width: 715px) {
  .modal-good__form form .button {
    width: 200px;
    height: 60px;
  }
}

.modal-good__form form .button:hover .button__wrap {
  width: 270px;
  height: 130px;
}

@media (max-width: 1200px) {
  .modal-good__form form .button:hover .button__wrap {
    width: 215px;
    height: 95px;
  }
}

@media (max-width: 1200px) and (max-width: 1024px) {
  .modal-good__form form .button:hover .button__wrap {
    width: 100%;
    height: 100%;
  }
}

.modal-good__form form .button .button__wrap {
  border-width: 1px;
  background: none;
  cursor: pointer;
  color: #FFE474;
}

@media (max-width: 1024px) {
  .modal-good__form form .button .button__wrap {
    -webkit-animation-name: modal-catalog-button;
            animation-name: modal-catalog-button;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}

@media (max-width: 1024px) and (max-width: 715px) {
  .modal-good__form form .button .button__wrap {
    font-size: 20px;
  }
}

.modal-good__form form .checkbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 568px) {
  .modal-good__form form .checkbox p {
    font-size: 16px;
  }
}

.modal-good__form form .checkbox input {
  display: none;
}

.modal-good__form form .checkbox div {
  width: 30px;
  height: 30px;
  background: #202124;
  margin-right: 20px;
}

.modal-good__form form .checkbox div b {
  color: #FFE474;
  opacity: 0;
  font-size: 40px;
  line-height: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.modal-good__form form .checkbox input:checked + div b {
  opacity: 1;
}

.modal-good__form p {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 16px;
  font-weight: 300;
  max-width: 370px;
  letter-spacing: 0.065em;
  line-height: 174.19%;
}

@media (max-width: 414px) {
  .modal-good__form p {
    font-size: 10px;
  }
}

.modal-good__form p a {
  color: #FFE474;
}

.modal-good__form .modal-form__response {
  position: absolute;
  width: 40%;
  height: 300px;
  left: 30%;
  top: 25%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-good__form .modal-form__response svg {
  width: 30%;
  fill: white;
  -webkit-animation-name: modal-form-response;
          animation-name: modal-form-response;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (max-width: 770px) {
  .modal-good__form .modal-form__response svg {
    width: 50%;
  }
}

.modal-good__form .modal-form__response p {
  font-size: 30px;
  font-weight: 500;
  width: 65%;
  color: white;
}

@media (max-width: 770px) {
  .modal-good__form .modal-form__response p {
    font-size: 22px;
    width: unset;
  }
}

@media (max-width: 770px) {
  .modal-good__form .modal-form__response {
    top: 35%;
    left: 20%;
    height: 240px;
    width: 60%;
  }
}

.bg-polygon-10 {
  top: 20%;
  opacity: 0.2;
}

.bg-polygon-11 {
  right: 0;
  top: 80%;
}

@-webkit-keyframes modal-catalog-button {
  50% {
    width: 215px;
    height: 95px;
  }
}

@keyframes modal-catalog-button {
  50% {
    width: 215px;
    height: 95px;
  }
}

@media (max-width: 715px) {
  @-webkit-keyframes modal-catalog-button {
    50% {
      width: 175px;
      height: 80px;
    }
  }
  @keyframes modal-catalog-button {
    50% {
      width: 175px;
      height: 80px;
    }
  }
}

@-webkit-keyframes modal-form-response {
  10% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  16% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  23% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes modal-form-response {
  10% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  16% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  20% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  23% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=catalog.css.map */