.brands {
  padding-top: 80px;
  font-weight: 300;
}

.catalog {
  padding-top: 70px;
}

.catalog__wrap {
  height: 100%;
}

.catalog__filter {
  height: 100%;
  width: 340px;
}

.catalog__filter .filter__wrap {
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
  width: 100%;
  background: rgba(227, 205, 106, 0.2);
  z-index: 5;
}

.catalog__filter .filter__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 0 15px;
}

.catalog__filter .filter__item .filter-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  cursor: pointer;
}

.catalog__filter .filter__item .filter-item__title h5 {
  font-size: 22px;
  font-weight: 400;
}

.catalog__filter .filter__item .filter-item__title img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.catalog__filter .filter__item .filter-item__val {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 15px 0 30px 0;
}

.catalog__filter .filter__item .filter-item__val label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 7.5px 0;
  font-size: 20px;
  cursor: pointer;
}

.catalog__filter .filter__item .filter-item__val label input {
  margin-right: 20px;
}

.catalog__filter .filter__item .filter-item__val label input[type='checkbox'] {
  display: none;
}

.catalog__filter .filter__item .filter-item__val label div {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.809018 29.5L15 1.11803L29.191 29.5H0.809018Z' fill='none' stroke='%23FFE474'/%3E%3C/svg%3E%0A");
}

.catalog__filter .filter__item .filter-item__val label input:checked + div {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.809018 29.5L15 1.11803L29.191 29.5H0.809018Z' fill='%23FFE474' stroke='%23FFE474'/%3E%3C/svg%3E%0A");
}

.catalog__filter .filter__item--active .filter-item__title img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.catalog__filter .filter__item--active .filter-item__val {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__filter .filter__price .filter__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__filter .filter__price .filter__input label input {
  width: 80px;
  height: 30px;
  background: #202124;
  color: white;
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
}

.catalog__filter .filter__price .filter__input--range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog__filter .filter__price .filter__input .noUi-horizontal {
  border: none;
  height: 1px;
  margin-top: 35px;
  margin-bottom: 15px;
  width: 90%;
}

.catalog__filter .filter__price .filter__input .noUi-horizontal .noUi-handle {
  height: 18px;
  top: -10px;
}

.catalog__filter .filter__price .filter__input .noUi-connect {
  background: #FFE474;
}

.catalog__filter .filter__price .filter__input .noUi-handle {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.809018 29.5L15 1.11803L29.191 29.5H0.809018Z' fill='%23FFE474' stroke='%23FFE474'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.catalog__filter .filter__price .filter__input .noUi-handle:after, .catalog__filter .filter__price .filter__input .noUi-handle:before {
  display: none;
}

.catalog__filter .filter__price .filter__input .noUi-touch-area:focus,
.catalog__filter .filter__price .filter__input .noUi-horizontal .noUi-handle:focus {
  outline: none;
}

.catalog__filter .filter__price .filter__min-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.catalog__filter .filter__price .filter__min-max small {
  font-size: 14px;
  font-weight: 300;
}

.catalog__filter .filter__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__filter .filter__buttons button,
.catalog__filter .filter__buttons input {
  background: none;
  cursor: pointer;
}

.catalog__filter .filter__buttons .filter__apply {
  margin: 40px 0;
  width: 215px;
  height: 65px;
  border: 1px solid #FFE474;
  color: #FFE474;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.catalog__filter .filter__buttons .filter__apply:hover {
  background: #FFE474;
  color: black;
}

.catalog__filter .filter__buttons .filter__clear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.catalog__filter .filter__buttons .filter__clear input {
  color: white;
  font-size: 22px;
  font-weight: 300;
}

.catalog__filter .filter__buttons .filter__clear img {
  margin-right: 25px;
}

.catalog__goods {
  max-width: 74%;
}

.catalog__goods .goods__wrap {
  padding: 0 70px 50px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__goods .goods__wrap .goods__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 310px;
  cursor: pointer;
  margin-bottom: 50px;
  line-height: 34px;
}

.catalog__goods .goods__wrap .goods__item img {
  width: 100%;
  max-height: 300px;
}

.catalog__goods .goods__wrap .goods__item h5 {
  margin-top: 40px;
  font-size: 28px;
  font-weight: 500;
}

.catalog__goods .goods__wrap .goods__item p {
  font-weight: 300;
  margin-bottom: 20px;
}

.catalog__goods .goods__wrap .goods__item b {
  color: #FFE474;
}

.catalog__goods .goods__wrap .goods__item .good__price {
  color: #FFE474;
  font-weight: 500;
}

.catalog__goods .goods__wrap .goods__item .good__stock {
  display: none;
  font-weight: 500;
}

.catalog__goods .goods__wrap .goods__item:hover .good__price {
  display: none;
}

.catalog__goods .goods__wrap .goods__item:hover .good__stock {
  display: unset;
}

.catalog__pagination {
  padding-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__pagination .pagination__left,
.catalog__pagination .pagination__right {
  width: 52px;
  height: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.catalog__pagination .pagination__left:hover,
.catalog__pagination .pagination__right:hover {
  -webkit-animation-name: catalog-arrow;
          animation-name: catalog-arrow;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.catalog__pagination .pagination__left {
  background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 3.64645C0.451183 3.84171 0.451183 4.1583 0.646446 4.35356L3.82843 7.53554C4.02369 7.7308 4.34027 7.7308 4.53553 7.53554C4.7308 7.34028 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17158C4.7308 0.976315 4.7308 0.659733 4.53553 0.46447C4.34027 0.269208 4.02369 0.269208 3.82843 0.46447L0.646446 3.64645ZM53 3.5L1 3.5L1 4.5L53 4.5L53 3.5Z' fill='%23FFE474'/%3E%3C/svg%3E");
  background-position: 5px;
}

.catalog__pagination .pagination__left:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 3.64645C0.451183 3.84171 0.451183 4.1583 0.646446 4.35356L3.82843 7.53554C4.02369 7.7308 4.34027 7.7308 4.53553 7.53554C4.7308 7.34028 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17158C4.7308 0.976315 4.7308 0.659733 4.53553 0.46447C4.34027 0.269208 4.02369 0.269208 3.82843 0.46447L0.646446 3.64645ZM53 3.5L1 3.5L1 4.5L53 4.5L53 3.5Z' fill='white'/%3E%3C/svg%3E");
}

.catalog__pagination .pagination__right {
  background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.3536 4.35355C52.5488 4.15829 52.5488 3.84171 52.3536 3.64645L49.1716 0.464466C48.9763 0.269204 48.6597 0.269204 48.4645 0.464466C48.2692 0.659728 48.2692 0.976311 48.4645 1.17157L51.2929 4L48.4645 6.82843C48.2692 7.02369 48.2692 7.34027 48.4645 7.53553C48.6597 7.7308 48.9763 7.7308 49.1716 7.53553L52.3536 4.35355ZM0 4.5L52 4.5V3.5L0 3.5L0 4.5Z' fill='%23FFE474'/%3E%3C/svg%3E");
  background-position: -5px;
}

.catalog__pagination .pagination__right:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='53' height='8' viewBox='0 0 53 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M52.3536 4.35355C52.5488 4.15829 52.5488 3.84171 52.3536 3.64645L49.1716 0.464466C48.9763 0.269204 48.6597 0.269204 48.4645 0.464466C48.2692 0.659728 48.2692 0.976311 48.4645 1.17157L51.2929 4L48.4645 6.82843C48.2692 7.02369 48.2692 7.34027 48.4645 7.53553C48.6597 7.7308 48.9763 7.7308 49.1716 7.53553L52.3536 4.35355ZM0 4.5L52 4.5V3.5L0 3.5L0 4.5Z' fill='white'/%3E%3C/svg%3E");
}

.catalog__pagination .pagination__num {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog__pagination .pagination__num span {
  color: #FFE474;
  opacity: 0.3;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.065em;
  margin: 0 20px;
  cursor: pointer;
}

.catalog__pagination .pagination__num .pagination__active {
  opacity: 1;
}

@-webkit-keyframes catalog-arrow {
  60% {
    background-position: 0px;
  }
}

@keyframes catalog-arrow {
  60% {
    background-position: 0px;
  }
}

.bg-polygon-10 {
  top: 20%;
}

.bg-polygon-11 {
  right: 0;
  top: 80%;
}
/*# sourceMappingURL=catalog.css.map */