footer {
  padding: 20px 0;
  font-size: calc(var(--size-font-base-small) * 1.1);
}

@media (max-width: 715px) {
  footer {
    width: 100%;
    padding: 40px 10px;
  }
}

.footer__wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1318px;
  height: 110px;
}

@media (max-width: 1200px) {
  .footer__wrap {
    max-width: 1318px;
    width: 96%;
    margin: 0 30px;
  }
}

@media (max-width: 1200px) and (max-width: 715px) {
  .footer__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) and (max-width: 715px) and (max-width: 568px) {
  .footer__wrap {
    width: 100%;
    height: unset;
  }
}

.footer__wrap .footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 310px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 300;
}

@media (max-width: 1200px) {
  .footer__wrap .footer__col {
    max-width: 205px;
  }
}

@media (max-width: 715px) {
  .footer__wrap .footer__col p {
    display: none;
  }
}

.footer__wrap .footer__col--logo {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 715px) {
  .footer__wrap .footer__col--logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 70px;
  }
}

@media (max-width: 715px) {
  .footer__wrap .footer__col--logo .logo {
    font-size: 16px;
  }
}

@media (max-width: 715px) {
  .footer__wrap .footer__col--logo .logo span {
    font-size: 40px;
  }
}

.footer__wrap .footer__col--logo .logo-img {
  margin-right: 10px;
}

.footer__wrap .footer__col--logo .logo-img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 715px) {
  .footer__wrap .footer__col--logo .logo-img {
    width: 50px;
    height: 50px;
  }
}

.footer__wrap .footer__col--menu {
  padding-left: 10px;
}

@media (max-width: 715px) {
  .footer__wrap .footer__col--menu {
    display: none;
  }
}

.footer__wrap .footer__col form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 30px;
  padding: 2px;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 3px;
}

@media (max-width: 715px) {
  .footer__wrap .footer__col form {
    display: none;
  }
}

.footer__wrap .footer__col form input {
  width: 84%;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  background: none;
  border: none;
  font-size: var(--size-font-base-small);
  color: white;
}

.footer__wrap .footer__col form input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.footer__wrap .footer__col form input:-ms-input-placeholder {
  color: #c4c4c4;
}

.footer__wrap .footer__col form input::-ms-input-placeholder {
  color: #c4c4c4;
}

.footer__wrap .footer__col form input::placeholder {
  color: #c4c4c4;
}

.footer__wrap .footer__col form button {
  border-radius: 100%;
  background-color: #ffe474;
  width: 26px;
  height: 26px;
  font-size: calc(var(--size-font-base-small) * 1.3);
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__wrap .footer__col form button:hover {
  background-color: #dab000;
}

.footer__wrap .footer__col--soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 715px) {
  .footer__wrap .footer__col--soc {
    width: 100%;
  }
}

.footer__wrap .footer__col--soc a svg {
  width: 26px;
  height: 26px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__wrap .footer__col--soc a svg:hover {
  fill: #dab000;
}

.footer__wrap .footer__col .order-call {
  color: #ffe474;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 715px) {
  .footer__wrap .footer__col .order-call {
    display: none;
  }
}

.footer__wrap .footer__col .order-call:hover {
  color: white;
}

@media (max-width: 715px) {
  .footer__wrap .footer__col:nth-child(3) {
    margin-top: 40px;
    max-width: unset;
    width: 275px;
    height: 50px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 715px) {
  .footer__wrap .footer__col:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 715px) and (max-width: 568px) {
  .footer__wrap .footer__col:last-child a {
    max-width: 136px;
  }
}

@media (max-width: 715px) and (max-width: 568px) and (max-width: 415px) {
  .footer__wrap .footer__col:last-child a {
    width: 100%;
    margin-top: 10px;
  }
}
