.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1306px;
  width: 68%;
  margin: auto auto;
}

.header--up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  font-size: 20px;
  font-weight: 300;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid rgba(239, 219, 106, 0.2);
}

.header--up .wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 40px;
}

.header--up .wrap a {
  color: #FFE474;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 45px;
}

.header--up .header--up__ico {
  height: 33px;
  width: 33px;
  margin-right: 10px;
}

.header--up .header--up__ico svg {
  height: 100%;
  width: 100%;
}

.header--up .header--up__search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: 100%;
  margin-left: 15px;
}

.header--up .header--up__search input {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.header--up .header--up__search input:focus {
  outline: none;
}

.header--up .header--up__search input::-webkit-input-placeholder {
  color: white;
}

.header--up .header--up__search input:-ms-input-placeholder {
  color: white;
}

.header--up .header--up__search input::-ms-input-placeholder {
  color: white;
}

.header--up .header--up__search input::placeholder {
  color: white;
}

.header--up .header--up__search button {
  position: absolute;
  right: 0;
  height: 110%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header--up .header--up__search button:focus {
  outline: none;
}

.header--up .header--up__search button svg {
  width: 25px;
  height: 25px;
}

header {
  width: 100%;
  height: 166px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #202124;
  z-index: 15;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header .header--wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .header--wrap .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFE474;
  font-weight: 500;
  font-size: 30px;
}

header .header--wrap .logo p {
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFD700), color-stop(53.13%, rgba(235, 229, 199, 0.95)), color-stop(99.48%, #FFD700));
  background: linear-gradient(to bottom, #FFD700 0%, rgba(235, 229, 199, 0.95) 53.13%, #FFD700 99.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .header--wrap .logo span {
  height: 70px;
  font-size: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFD700), color-stop(53.13%, rgba(235, 229, 199, 0.95)), color-stop(99.48%, #FFD700));
  background: linear-gradient(to bottom, #FFD700 0%, rgba(235, 229, 199, 0.95) 53.13%, #FFD700 99.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
/*# sourceMappingURL=header.css.map */