.host {
  padding-top: 100px;
}

@media (max-width: 1200px) {
  .host {
    padding-top: 50px;
  }
}

.host__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  .host__wrap {
    max-width: 960px;
    width: 94%;
  }
}

.host__title {
  color: #FFE474;
}

.host__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 55px;
  padding-bottom: 80px;
}

@media (max-width: 715px) {
  .host__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 715px) and (max-width: 414px) {
  .host__info {
    padding-bottom: 20px;
  }
}

.host__txt {
  width: 60%;
}

@media (max-width: 1024px) {
  .host__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1024px) and (max-width: 715px) {
  .host__txt {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 30px;
    width: 100%;
  }
}

.host__block {
  padding-bottom: 40px;
  width: 95%;
}

.host__block h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .host__block h5 {
    font-size: 20px;
  }
}

@media (max-width: 1024px) and (max-width: 414px) {
  .host__block h5 {
    font-size: 16px;
  }
}

.host__block h5 span {
  color: #FFE474;
  margin-right: 20px;
  font-size: 40px;
}

@media (max-width: 1024px) {
  .host__block h5 span {
    font-size: 25px;
  }
}

.host__block p {
  margin-top: 30px;
  margin-left: 105px;
  font-weight: 300;
  color: #FFE474;
}

@media (max-width: 1024px) {
  .host__block p {
    display: none;
  }
}

.host__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  height: 349px;
  background-color: rgba(196, 196, 196, 0.3);
}

@media (max-width: 715px) {
  .host__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 95%;
  }
}

@media (max-width: 715px) and (max-width: 414px) {
  .host__img {
    max-width: 320px;
    max-height: 160px;
  }
}

.host__img img {
  width: 30%;
}

.bg-polygon-4 {
  right: 0;
  top: 60%;
}

.bg-polygon-5 {
  top: 300%;
}
/*# sourceMappingURL=hosting.css.map */