.host {
  padding-top: 100px;
}

@media (max-width: 1200px) {
  .host {
    padding-top: 50px;
  }
}

.host__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  .host__wrap {
    max-width: 960px;
    width: 94%;
  }
}

.host__title {
  color: #FFE474;
}

.host__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 55px;
  padding-bottom: 80px;
}

@media (max-width: 715px) {
  .host__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 715px) and (max-width: 414px) {
  .host__info {
    padding-bottom: 20px;
  }
}

.host__txt {
  width: 60%;
}

@media (max-width: 1024px) {
  .host__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1024px) and (max-width: 715px) {
  .host__txt {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 30px;
    width: 100%;
  }
}

.host__block {
  padding-bottom: 40px;
  width: 95%;
}

.host__block h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .host__block h5 {
    font-size: 20px;
  }
}

@media (max-width: 1024px) and (max-width: 414px) {
  .host__block h5 {
    font-size: 16px;
  }
}

.host__block h5 span {
  color: #FFE474;
  margin-right: 20px;
  font-size: 40px;
}

@media (max-width: 1024px) {
  .host__block h5 span {
    font-size: 25px;
  }
}

.host__block p {
  margin-top: 30px;
  margin-left: 105px;
  font-weight: 300;
  color: #FFE474;
}

@media (max-width: 1024px) {
  .host__block p {
    display: none;
  }
}

.host__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  height: 349px;
  background-color: rgba(196, 196, 196, 0.3);
}

@media (max-width: 715px) {
  .host__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 95%;
  }
}

@media (max-width: 715px) and (max-width: 414px) {
  .host__img {
    max-width: 320px;
    max-height: 160px;
  }
}

.host__img img {
  width: 30%;
}

.big-form {
  padding: 100px 0 50px 0;
}

@media (max-width: 1024px) {
  .big-form {
    padding-bottom: 0;
  }
}

.big-form__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 414px) {
  .big-form__wrap {
    max-width: 330px;
    width: 83%;
  }
}

.big-form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-form__title h3 {
  margin-top: 20px;
  color: #FFE474;
  font-size: 40px;
  font-weight: 400;
  max-width: 620px;
}

@media (max-width: 1024px) {
  .big-form__title h3 {
    font-size: 30px;
  }
}

@media (max-width: 1024px) and (max-width: 715px) {
  .big-form__title h3 {
    font-size: 16px;
  }
}

.big-form span {
  color: #FFE474;
}

.big-form p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 370px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.065em;
  line-height: 174.19%;
  color: #F9F9F9;
}

@media (max-width: 1024px) {
  .big-form p {
    font-size: 10px;
    max-width: 300px;
  }
}

.big-form p a {
  color: #FFE474;
  text-decoration: underline;
}

.big-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  padding-bottom: 20px;
}

@media (max-width: 414px) {
  .big-form form {
    padding-top: 20px;
  }
}

.big-form form h6 {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 45px;
}

@media (max-width: 1024px) {
  .big-form form h6 {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media (max-width: 1024px) and (max-width: 414px) {
  .big-form form h6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.big-form form h6 span {
  font-size: 30px;
}

@media (max-width: 1024px) {
  .big-form form h6 span {
    font-size: 25px;
    margin-right: 5px;
  }
}

@media (max-width: 1024px) and (max-width: 414px) {
  .big-form form h6 span {
    font-size: 22px;
    margin-right: 10px;
    line-height: 10px;
  }
}

.big-form form p {
  font-size: 28px;
  font-weight: 400;
  text-align: unset;
  -ms-flex-item-align: unset;
      -ms-grid-row-align: unset;
      align-self: unset;
}

@media (max-width: 1024px) {
  .big-form form p {
    font-size: 20px;
    font-weight: 300;
  }
}

@media (max-width: 1024px) and (max-width: 715px) {
  .big-form form p {
    display: none;
    font-size: 16px;
  }
}

.big-form form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 520px;
  width: 42%;
}

@media (max-width: 1024px) {
  .big-form form label {
    max-width: 300px;
    width: 44%;
  }
}

@media (max-width: 1024px) and (max-width: 715px) {
  .big-form form label {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    max-width: unset;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1024px) and (max-width: 715px) and (max-width: 414px) {
  .big-form form label {
    padding-bottom: 25px;
  }
}

.big-form form label .big-form--media {
  display: none;
}

@media (max-width: 715px) {
  .big-form form label .big-form--media {
    display: unset;
  }
}

.big-form form label .big-form--media-not {
  display: unset;
}

.big-form form .big-form__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 715px) {
  .big-form form .big-form__name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.big-form form input {
  margin-top: 20px;
  margin-bottom: 60px;
  padding-left: 20px;
  width: 100%;
  height: 90px;
  background-color: rgba(255, 227, 116, 0.4);
  color: white;
}

@media (max-width: 1024px) {
  .big-form form input {
    font-size: 16px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

@media (max-width: 1024px) and (max-width: 715px) {
  .big-form form input {
    max-width: 220px;
    width: 60%;
    font-size: 15px;
  }
}

@media (max-width: 1024px) and (max-width: 715px) and (max-width: 414px) {
  .big-form form input {
    max-width: 176px;
    height: 30px;
    width: 60%;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding-left: 10px;
  }
}

.big-form form input::-webkit-input-placeholder {
  color: #FFE474;
  opacity: 0.63;
}

.big-form form input:-ms-input-placeholder {
  color: #FFE474;
  opacity: 0.63;
}

.big-form form input::-ms-input-placeholder {
  color: #FFE474;
  opacity: 0.63;
}

.big-form form input::placeholder {
  color: #FFE474;
  opacity: 0.63;
}

@media (max-width: 715px) {
  .big-form form input::-webkit-input-placeholder {
    font-weight: 300;
  }
  .big-form form input:-ms-input-placeholder {
    font-weight: 300;
  }
  .big-form form input::-ms-input-placeholder {
    font-weight: 300;
  }
  .big-form form input::placeholder {
    font-weight: 300;
  }
}

.big-form form .big-form__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 296px;
  height: 90px;
  border-width: 1px;
  margin: 0;
}

@media (max-width: 1024px) {
  .big-form form .big-form__button {
    width: 240px;
    height: 60px;
    margin-top: 30px;
  }
}

@media (max-width: 1024px) and (max-width: 414px) {
  .big-form form .big-form__button {
    width: 190px;
    height: 50px;
  }
}

.big-form form .big-form__button .button__wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: none;
  color: #FFE474;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .big-form form .big-form__button .button__wrap {
    font-size: 25px;
    -webkit-animation-name: big-form-button;
            animation-name: big-form-button;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    max-width: unset;
  }
}

@media (max-width: 1024px) and (max-width: 414px) {
  .big-form form .big-form__button .button__wrap {
    font-size: 22px;
  }
}

.big-form form .big-form__button:hover .button__wrap {
  width: 90%;
  height: 140%;
  border-width: 1px;
}

@media (max-width: 1024px) {
  .big-form form .big-form__button:hover .button__wrap {
    width: 100%;
    height: 100%;
  }
}

@-webkit-keyframes big-form-button {
  50% {
    width: 200px;
    height: 90px;
  }
}

@keyframes big-form-button {
  50% {
    width: 200px;
    height: 90px;
  }
}

@media (max-width: 414px) {
  @-webkit-keyframes big-form-button {
    50% {
      width: 157px;
      height: 74px;
    }
  }
  @keyframes big-form-button {
    50% {
      width: 157px;
      height: 74px;
    }
  }
}

.bg-polygon-4 {
  right: 0;
  top: 60%;
}

.bg-polygon-5 {
  top: 300%;
}
/*# sourceMappingURL=hosting.css.map */