.best-offer {
  padding: 100px 0 50px 0;
}

.best-offer .best-offer__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.best-offer .best-offer__goods {
  width: 100%;
  margin: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.best-offer .best-offer__good {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  line-height: 34px;
  cursor: pointer;
}

.best-offer .best-offer__good img {
  width: 100%;
  max-height: 380px;
}

.best-offer .best-offer__good h5 {
  margin-top: 40px;
  font-size: 28px;
  font-weight: 500;
}

.best-offer .best-offer__good p {
  font-weight: 300;
  margin-bottom: 20px;
}

.best-offer .best-offer__good b {
  color: #FFE474;
}

.best-offer .best-offer__good .good__price {
  color: #FFE474;
  font-weight: 500;
}

.best-offer .best-offer__good .good__stock {
  display: none;
  font-weight: 500;
}

.best-offer .best-offer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  width: 377px;
  height: 81px;
  border: 2px solid #FFE474;
  cursor: pointer;
}

.best-offer .best-offer__button .button__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #FFE474;
}

.best-offer .best-offer__button .button__wrap:hover {
  width: 337px;
  height: 121px;
  border-width: 2px;
}

.best-offer .best-offer__button a {
  color: #FFE474;
  font-size: 30px;
}

.title,
.title h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

.advant {
  padding: 50px 0;
}

.advant .advant__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advant .advant__blocks {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advant .advant__blocks .advant__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.advant .advant__blocks .advant__col .advant__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 95%;
}

.advant .advant__blocks .advant__col .advant__field .advant__svg {
  width: 70px;
  height: 70px;
  margin-right: 40px;
}

.advant .advant__blocks .advant__col .advant__field .advant__svg svg {
  height: 100%;
  width: auto;
}

.advant__button {
  margin-top: 30px;
  max-width: 400px;
}

.advant__button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFE474;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.advant__button a:hover {
  color: white;
}

.advant__button a:hover svg {
  -webkit-animation-name: advant-arrow;
          animation-name: advant-arrow;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.advant__button a svg {
  margin-right: 20px;
}

@-webkit-keyframes advant-arrow {
  60% {
    fill: white;
    width: 70px;
  }
}

@keyframes advant-arrow {
  60% {
    fill: white;
    width: 70px;
  }
}

.feedback {
  padding: 50px 0 100px 0;
}

.feedback .feedback__wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.feedback .feedback__wrap a {
  color: #FFE474;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.feedback .feedback__wrap a:hover {
  color: white;
}
/*# sourceMappingURL=index.css.map */